/* body {
  margin: 0;
  background: url(https://images.unsplash.com/photo-1600283349832-a9c60f58a46f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80)
    no-repeat center center fixed;
  height: 100vh;
} */

#webcam .cameraContainer {
  position: absolute;
  top: 1px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 300px;
  align-items: center;
  padding: 10px;
  background: rgba(218, 52, 182, 0.521);
  border-radius: 20px;
  backdrop-filter: blur(5px);
}

#webcam #snap {
  margin-top: -10px;
  width: 300px;
  height: 40px;
  font-size: 1.4em;
  border-radius: 0 0 20px 20px;
}

#webcam #video {
  width: 300px;
  border-radius: 20px 20px 0 0;
}
#webcam #cameraRoll {
  display: flex;
  position: absolute;
  bottom: 1px;
  width: 98vw;
  height: auto;
  overflow-x: scroll;
  background: rgba(240, 153, 153, 0.438);
  padding: 1vw;
  backdrop-filter: blur(5px);
}

#webcam canvas {
  height: 245px;
  margin: 0 10px;
  width: 300px;
  margin: 0 10px;
  border-radius: 20px;
}
